[Unit]
Description=Waydroid Session
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple

ExecStartPre=/usr/bin/mkdir -p %h/Android

ExecStart=/usr/bin/waydroid session start

ExecStartPost=/usr/bin/sh -c '\
until /usr/bin/waydroid shell true >/dev/null 2>&1; do /bin/sleep 1; done; \
/usr/bin/mountpoint -q %h/Android || \
/usr/bin/sudo /usr/bin/mount --bind %h/.local/share/waydroid/data/media/0 %h/Android'

ExecStop=/usr/bin/waydroid session stop

ExecStopPost=/usr/bin/sh -c '\
/usr/bin/mountpoint -q %h/Android && \
/usr/bin/sudo /usr/bin/umount %h/Android'

Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
