[Unit]
Description=Waydroid Session
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waydroid session start
ExecStartPost=/usr/bin/sh -c 'while [ ! -d /var/lib/waydroid/data/media/0 ]; do sleep 1; done; \
mountpoint -q %h/Android || /usr/bin/sudo /usr/bin/mount --bind /var/lib/waydroid/data/media/0 %h/Android'
ExecStopPost=/usr/bin/sudo /usr/bin/umount %h/Android
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
